
.breadcrumb{
    font-size: 13px;
}
/*body{*/
/*    background-color: var(--vz-body-bg);*/
/*    font-size: var(--vz-body-font-size);*/
/*}*/
label{
    font-size:13px;
}
.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.help-block{
    color:var(--vz-danger);
}



.kv-table-header{
    background: var(--vz-table-bg);
 }
.kv-table-header a, .kv-table-header{
    --vz-text-opacity: 1;
    color: #878a99!important;
}
.table-bordered > :not(caption) > * > * {
    border-width: 0;
}

.form-group{
    margin:10px 0;
}

.btn-primary{
    --vz-bg-opacity: 1;
    background-color: rgba(var(--vz-primary-rgb),var(--vz-bg-opacity))!important;}
.btn-success{
    --vz-bg-opacity: 1;
    background-color: rgba(var(--vz-success-rgb),var(--vz-bg-opacity))!important;}
.btn-info{
    --vz-bg-opacity: 1;
    background-color: rgba(var(--vz-info-rgb),var(--vz-bg-opacity))!important;
    color:var(--vz-white)
}
.btn-danger{
    --vz-bg-opacity: 1;
    background-color: rgba(var(--vz-danger-rgb),var(--vz-bg-opacity))!important;}
.card-header {
    padding: 1rem 1rem;
    margin-bottom: 0;
    color: var(--vz-card-cap-color);
    background-color: var(--vz-card-cap-bg);
    border-bottom: 1px solid #E9EBEB;
}
.pesan{
    padding: 20px;
    background: var(--vz-card-bg-custom);
    position: relative;
    border: 1px solid var(--vz-border-color);
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.is_valid{

}